.navbar {
  background-color: #e9541f;
}

#submit-link {
  background: #e9541f;
  color: white;
}

.form-row {
  margin: 1em;
}

.li-hidden-favorites,
.li-hidden-domain {
  display: none;
}

small:hover {
  cursor: pointer;
  text-decoration-line: underline;
}
