.navbar {
  background-color: #e9541f;
}

#submit-link {
  background: #e9541f;
  color: white;
}

.form-row {
  margin: 1em;
}

.li-hidden-favorites {
  display: none;
}

.li-hidden-domain {
  display: none;
}
